body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  border: 5px white;
  padding: 8px;
  
  
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 1px 1px hsl(0, 82%, 47%);
}

.content,
 .button-container {
  font-weight: 700;
}


.content {
  background: #e3f4ff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  margin: 8px auto;
  font-size: 15px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  }

  p {
    margin-top: 1px;
  }